<?php
/**
 * NotesApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache License v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Insightly API v2.2
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v2.2
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * NotesApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache License v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class NotesApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://api.insight.ly/v2.2');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return NotesApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation addComment
     *
     * Adds a Comment to a Note
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @param \Swagger\Client\Model\APIComment $api_comment The Comment to add (just include JSON object as request body) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Comment
     */
    public function addComment($id, $api_comment)
    {
        list($response) = $this->addCommentWithHttpInfo($id, $api_comment);
        return $response;
    }

    /**
     * Operation addCommentWithHttpInfo
     *
     * Adds a Comment to a Note
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @param \Swagger\Client\Model\APIComment $api_comment The Comment to add (just include JSON object as request body) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Comment, HTTP status code, HTTP response headers (array of strings)
     */
    public function addCommentWithHttpInfo($id, $api_comment)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addComment');
        }
        // verify the required parameter 'api_comment' is set
        if ($api_comment === null) {
            throw new \InvalidArgumentException('Missing the required parameter $api_comment when calling addComment');
        }
        // parse inputs
        $resourcePath = "/Notes/{id}/Comments";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'text/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($api_comment)) {
            $_tempBody = $api_comment;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Comment',
                '/Notes/{id}/Comments'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Comment', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Comment', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addFileAttachment
     *
     * Adds a File Attachment to a Note
     *
     * @param int $id Note ID (required)
     * @param \SplFileObject $file The file part of the multipart/form-data request. Only one file can be added per request. (required)
     * @param string $file_name  (optional)
     * @param string $content_type  (optional)
     * @param int $file_category_id  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\FileAttachment
     */
    public function addFileAttachment($id, $file, $file_name = null, $content_type = null, $file_category_id = null)
    {
        list($response) = $this->addFileAttachmentWithHttpInfo($id, $file, $file_name, $content_type, $file_category_id);
        return $response;
    }

    /**
     * Operation addFileAttachmentWithHttpInfo
     *
     * Adds a File Attachment to a Note
     *
     * @param int $id Note ID (required)
     * @param \SplFileObject $file The file part of the multipart/form-data request. Only one file can be added per request. (required)
     * @param string $file_name  (optional)
     * @param string $content_type  (optional)
     * @param int $file_category_id  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\FileAttachment, HTTP status code, HTTP response headers (array of strings)
     */
    public function addFileAttachmentWithHttpInfo($id, $file, $file_name = null, $content_type = null, $file_category_id = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addFileAttachment');
        }
        // verify the required parameter 'file' is set
        if ($file === null) {
            throw new \InvalidArgumentException('Missing the required parameter $file when calling addFileAttachment');
        }
        if (!is_null($file_name) && (strlen($file_name) > 500)) {
            throw new \InvalidArgumentException('invalid length for "$file_name" when calling NotesApi.addFileAttachment, must be smaller than or equal to 500.');
        }

        if (!is_null($content_type) && (strlen($content_type) > 255)) {
            throw new \InvalidArgumentException('invalid length for "$content_type" when calling NotesApi.addFileAttachment, must be smaller than or equal to 255.');
        }

        // parse inputs
        $resourcePath = "/Notes/{id}/FileAttachments";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'text/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['multipart/form-data']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // form params
        if ($file !== null) {
            // PHP 5.5 introduced a CurlFile object that deprecates the old @filename syntax
            // See: https://wiki.php.net/rfc/curl-file-upload
            if (function_exists('curl_file_create')) {
                $formParams['file'] = curl_file_create($this->apiClient->getSerializer()->toFormValue($file));
            } else {
                $formParams['file'] = '@' . $this->apiClient->getSerializer()->toFormValue($file);
            }
        }
        // form params
        if ($file_name !== null) {
            $formParams['file_name'] = $this->apiClient->getSerializer()->toFormValue($file_name);
        }
        // form params
        if ($content_type !== null) {
            $formParams['content_type'] = $this->apiClient->getSerializer()->toFormValue($content_type);
        }
        // form params
        if ($file_category_id !== null) {
            $formParams['file_category_id'] = $this->apiClient->getSerializer()->toFormValue($file_category_id);
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\FileAttachment',
                '/Notes/{id}/FileAttachments'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\FileAttachment', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\FileAttachment', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addFollow
     *
     * Start following a Note
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Follow
     */
    public function addFollow($id)
    {
        list($response) = $this->addFollowWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation addFollowWithHttpInfo
     *
     * Start following a Note
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Follow, HTTP status code, HTTP response headers (array of strings)
     */
    public function addFollowWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addFollow');
        }
        // parse inputs
        $resourcePath = "/Notes/{id}/Follow";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'text/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Follow',
                '/Notes/{id}/Follow'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Follow', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Follow', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addNoteLink
     *
     * Adds a Note Link
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @param \Swagger\Client\Model\APINoteLink $api_link The Note Link to add (just include JSON object as request body) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\NoteLink
     */
    public function addNoteLink($id, $api_link)
    {
        list($response) = $this->addNoteLinkWithHttpInfo($id, $api_link);
        return $response;
    }

    /**
     * Operation addNoteLinkWithHttpInfo
     *
     * Adds a Note Link
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @param \Swagger\Client\Model\APINoteLink $api_link The Note Link to add (just include JSON object as request body) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\NoteLink, HTTP status code, HTTP response headers (array of strings)
     */
    public function addNoteLinkWithHttpInfo($id, $api_link)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addNoteLink');
        }
        // verify the required parameter 'api_link' is set
        if ($api_link === null) {
            throw new \InvalidArgumentException('Missing the required parameter $api_link when calling addNoteLink');
        }
        // parse inputs
        $resourcePath = "/Notes/{id}/NoteLinks";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'text/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($api_link)) {
            $_tempBody = $api_link;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\NoteLink',
                '/Notes/{id}/NoteLinks'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\NoteLink', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\NoteLink', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteFollow
     *
     * Stop following a Note
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function deleteFollow($id)
    {
        list($response) = $this->deleteFollowWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation deleteFollowWithHttpInfo
     *
     * Stop following a Note
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteFollowWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteFollow');
        }
        // parse inputs
        $resourcePath = "/Notes/{id}/Follow";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'text/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/Notes/{id}/Follow'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation deleteNote
     *
     * Deletes a Note
     *
     * @param int $id A Note&#39;s ID (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function deleteNote($id)
    {
        list($response) = $this->deleteNoteWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation deleteNoteWithHttpInfo
     *
     * Deletes a Note
     *
     * @param int $id A Note&#39;s ID (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteNoteWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteNote');
        }
        // parse inputs
        $resourcePath = "/Notes/{id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'text/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/Notes/{id}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation deleteNoteLink
     *
     * Deletes a Note Link
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @param int $link_id A Note Link&#39;s ID (NOTE_LINK_ID) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function deleteNoteLink($id, $link_id)
    {
        list($response) = $this->deleteNoteLinkWithHttpInfo($id, $link_id);
        return $response;
    }

    /**
     * Operation deleteNoteLinkWithHttpInfo
     *
     * Deletes a Note Link
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @param int $link_id A Note Link&#39;s ID (NOTE_LINK_ID) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteNoteLinkWithHttpInfo($id, $link_id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteNoteLink');
        }
        // verify the required parameter 'link_id' is set
        if ($link_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $link_id when calling deleteNoteLink');
        }
        // parse inputs
        $resourcePath = "/Notes/{id}/NoteLinks/{linkId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'text/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // path params
        if ($link_id !== null) {
            $resourcePath = str_replace(
                "{" . "linkId" . "}",
                $this->apiClient->getSerializer()->toPathValue($link_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/Notes/{id}/NoteLinks/{linkId}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation getComments
     *
     * Gets a Note's Comments
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @param \DateTime $updated_after_utc Optional, earliest date when comment was last updated. (optional)
     * @param int $skip Optional, number of comments to skip. (optional)
     * @param int $top Optional, maximum number of comments to return in the response. (optional)
     * @param bool $count_total true if total number of records should be returned in the response headers. (optional, default to false)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Comment[]
     */
    public function getComments($id, $updated_after_utc = null, $skip = null, $top = null, $count_total = null)
    {
        list($response) = $this->getCommentsWithHttpInfo($id, $updated_after_utc, $skip, $top, $count_total);
        return $response;
    }

    /**
     * Operation getCommentsWithHttpInfo
     *
     * Gets a Note's Comments
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @param \DateTime $updated_after_utc Optional, earliest date when comment was last updated. (optional)
     * @param int $skip Optional, number of comments to skip. (optional)
     * @param int $top Optional, maximum number of comments to return in the response. (optional)
     * @param bool $count_total true if total number of records should be returned in the response headers. (optional, default to false)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Comment[], HTTP status code, HTTP response headers (array of strings)
     */
    public function getCommentsWithHttpInfo($id, $updated_after_utc = null, $skip = null, $top = null, $count_total = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getComments');
        }
        // parse inputs
        $resourcePath = "/Notes/{id}/Comments";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($updated_after_utc !== null) {
            $queryParams['updated_after_utc'] = $this->apiClient->getSerializer()->toQueryValue($updated_after_utc);
        }
        // query params
        if ($skip !== null) {
            $queryParams['skip'] = $this->apiClient->getSerializer()->toQueryValue($skip);
        }
        // query params
        if ($top !== null) {
            $queryParams['top'] = $this->apiClient->getSerializer()->toQueryValue($top);
        }
        // query params
        if ($count_total !== null) {
            $queryParams['count_total'] = $this->apiClient->getSerializer()->toQueryValue($count_total);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Comment[]',
                '/Notes/{id}/Comments'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Comment[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Comment[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getFileAttachments
     *
     * Gets a Note's File Attachments
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @param \DateTime $updated_after_utc Optional, earliest date when file attachment was last updated. (optional)
     * @param int $skip Optional, number of file attachments to skip. (optional)
     * @param int $top Optional, maximum number of file attachments to return in the response. (optional)
     * @param bool $count_total true if total number of records should be returned in the response headers. (optional, default to false)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\FileAttachment[]
     */
    public function getFileAttachments($id, $updated_after_utc = null, $skip = null, $top = null, $count_total = null)
    {
        list($response) = $this->getFileAttachmentsWithHttpInfo($id, $updated_after_utc, $skip, $top, $count_total);
        return $response;
    }

    /**
     * Operation getFileAttachmentsWithHttpInfo
     *
     * Gets a Note's File Attachments
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @param \DateTime $updated_after_utc Optional, earliest date when file attachment was last updated. (optional)
     * @param int $skip Optional, number of file attachments to skip. (optional)
     * @param int $top Optional, maximum number of file attachments to return in the response. (optional)
     * @param bool $count_total true if total number of records should be returned in the response headers. (optional, default to false)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\FileAttachment[], HTTP status code, HTTP response headers (array of strings)
     */
    public function getFileAttachmentsWithHttpInfo($id, $updated_after_utc = null, $skip = null, $top = null, $count_total = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getFileAttachments');
        }
        // parse inputs
        $resourcePath = "/Notes/{id}/FileAttachments";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($updated_after_utc !== null) {
            $queryParams['updated_after_utc'] = $this->apiClient->getSerializer()->toQueryValue($updated_after_utc);
        }
        // query params
        if ($skip !== null) {
            $queryParams['skip'] = $this->apiClient->getSerializer()->toQueryValue($skip);
        }
        // query params
        if ($top !== null) {
            $queryParams['top'] = $this->apiClient->getSerializer()->toQueryValue($top);
        }
        // query params
        if ($count_total !== null) {
            $queryParams['count_total'] = $this->apiClient->getSerializer()->toQueryValue($count_total);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\FileAttachment[]',
                '/Notes/{id}/FileAttachments'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\FileAttachment[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\FileAttachment[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getFollow
     *
     * Gets a Follow record for the Note
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Follow
     */
    public function getFollow($id)
    {
        list($response) = $this->getFollowWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation getFollowWithHttpInfo
     *
     * Gets a Follow record for the Note
     *
     * @param int $id A Note&#39;s ID (NOTE_ID) (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Follow, HTTP status code, HTTP response headers (array of strings)
     */
    public function getFollowWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getFollow');
        }
        // parse inputs
        $resourcePath = "/Notes/{id}/Follow";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Follow',
                '/Notes/{id}/Follow'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Follow', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Follow', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getNote
     *
     * Gets a Note
     *
     * @param int $id A Note&#39;s ID (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Note
     */
    public function getNote($id)
    {
        list($response) = $this->getNoteWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation getNoteWithHttpInfo
     *
     * Gets a Note
     *
     * @param int $id A Note&#39;s ID (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Note, HTTP status code, HTTP response headers (array of strings)
     */
    public function getNoteWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getNote');
        }
        // parse inputs
        $resourcePath = "/Notes/{id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Note',
                '/Notes/{id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Note', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Note', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getNotes
     *
     * Gets a list of Notes.
     *
     * @param bool $brief Optional, true if response should only contain top level properties of the note. (optional, default to false)
     * @param int $skip Optional, number of notes to skip. (optional)
     * @param int $top Optional, maximum number of notes to return in the response. (optional)
     * @param bool $count_total Optional, true if total number of records should be returned in the response headers. (optional, default to false)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Note[]
     */
    public function getNotes($brief = null, $skip = null, $top = null, $count_total = null)
    {
        list($response) = $this->getNotesWithHttpInfo($brief, $skip, $top, $count_total);
        return $response;
    }

    /**
     * Operation getNotesWithHttpInfo
     *
     * Gets a list of Notes.
     *
     * @param bool $brief Optional, true if response should only contain top level properties of the note. (optional, default to false)
     * @param int $skip Optional, number of notes to skip. (optional)
     * @param int $top Optional, maximum number of notes to return in the response. (optional)
     * @param bool $count_total Optional, true if total number of records should be returned in the response headers. (optional, default to false)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Note[], HTTP status code, HTTP response headers (array of strings)
     */
    public function getNotesWithHttpInfo($brief = null, $skip = null, $top = null, $count_total = null)
    {
        // parse inputs
        $resourcePath = "/Notes";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($brief !== null) {
            $queryParams['brief'] = $this->apiClient->getSerializer()->toQueryValue($brief);
        }
        // query params
        if ($skip !== null) {
            $queryParams['skip'] = $this->apiClient->getSerializer()->toQueryValue($skip);
        }
        // query params
        if ($top !== null) {
            $queryParams['top'] = $this->apiClient->getSerializer()->toQueryValue($top);
        }
        // query params
        if ($count_total !== null) {
            $queryParams['count_total'] = $this->apiClient->getSerializer()->toQueryValue($count_total);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Note[]',
                '/Notes'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Note[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Note[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getNotesBySearch
     *
     * Gets a filtered list of Notes.
     *
     * @param string $title Optional, note title. (optional)
     * @param int $owner_user_id Optional, id of the owner user. (optional)
     * @param \DateTime $updated_after_utc Optional, earliest date when note was last updated. (optional)
     * @param bool $brief Optional, true if response should only contain top level properties of the note. (optional, default to false)
     * @param int $skip Optional, number of notes to skip. (optional)
     * @param int $top Optional, maximum number of notes to return in the response. (optional)
     * @param bool $count_total Optional, true if total number of records should be returned in the response headers. (optional, default to false)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Note[]
     */
    public function getNotesBySearch($title = null, $owner_user_id = null, $updated_after_utc = null, $brief = null, $skip = null, $top = null, $count_total = null)
    {
        list($response) = $this->getNotesBySearchWithHttpInfo($title, $owner_user_id, $updated_after_utc, $brief, $skip, $top, $count_total);
        return $response;
    }

    /**
     * Operation getNotesBySearchWithHttpInfo
     *
     * Gets a filtered list of Notes.
     *
     * @param string $title Optional, note title. (optional)
     * @param int $owner_user_id Optional, id of the owner user. (optional)
     * @param \DateTime $updated_after_utc Optional, earliest date when note was last updated. (optional)
     * @param bool $brief Optional, true if response should only contain top level properties of the note. (optional, default to false)
     * @param int $skip Optional, number of notes to skip. (optional)
     * @param int $top Optional, maximum number of notes to return in the response. (optional)
     * @param bool $count_total Optional, true if total number of records should be returned in the response headers. (optional, default to false)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Note[], HTTP status code, HTTP response headers (array of strings)
     */
    public function getNotesBySearchWithHttpInfo($title = null, $owner_user_id = null, $updated_after_utc = null, $brief = null, $skip = null, $top = null, $count_total = null)
    {
        // parse inputs
        $resourcePath = "/Notes/Search";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($title !== null) {
            $queryParams['title'] = $this->apiClient->getSerializer()->toQueryValue($title);
        }
        // query params
        if ($owner_user_id !== null) {
            $queryParams['owner_user_id'] = $this->apiClient->getSerializer()->toQueryValue($owner_user_id);
        }
        // query params
        if ($updated_after_utc !== null) {
            $queryParams['updated_after_utc'] = $this->apiClient->getSerializer()->toQueryValue($updated_after_utc);
        }
        // query params
        if ($brief !== null) {
            $queryParams['brief'] = $this->apiClient->getSerializer()->toQueryValue($brief);
        }
        // query params
        if ($skip !== null) {
            $queryParams['skip'] = $this->apiClient->getSerializer()->toQueryValue($skip);
        }
        // query params
        if ($top !== null) {
            $queryParams['top'] = $this->apiClient->getSerializer()->toQueryValue($top);
        }
        // query params
        if ($count_total !== null) {
            $queryParams['count_total'] = $this->apiClient->getSerializer()->toQueryValue($count_total);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Note[]',
                '/Notes/Search'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Note[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Note[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updateNote
     *
     * Updates a Note
     *
     * @param \Swagger\Client\Model\APINote $api_note The Note to add (just include JSON object as request body) (required)
     * @param bool $brief Optional, true if you wish to do a partial update containing only top level properties of the Note. When true, all sub-collections are ignored. (optional, default to false)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Note
     */
    public function updateNote($api_note, $brief = null)
    {
        list($response) = $this->updateNoteWithHttpInfo($api_note, $brief);
        return $response;
    }

    /**
     * Operation updateNoteWithHttpInfo
     *
     * Updates a Note
     *
     * @param \Swagger\Client\Model\APINote $api_note The Note to add (just include JSON object as request body) (required)
     * @param bool $brief Optional, true if you wish to do a partial update containing only top level properties of the Note. When true, all sub-collections are ignored. (optional, default to false)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Note, HTTP status code, HTTP response headers (array of strings)
     */
    public function updateNoteWithHttpInfo($api_note, $brief = null)
    {
        // verify the required parameter 'api_note' is set
        if ($api_note === null) {
            throw new \InvalidArgumentException('Missing the required parameter $api_note when calling updateNote');
        }
        // parse inputs
        $resourcePath = "/Notes";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'text/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($brief !== null) {
            $queryParams['brief'] = $this->apiClient->getSerializer()->toQueryValue($brief);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($api_note)) {
            $_tempBody = $api_note;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Note',
                '/Notes'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Note', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Note', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
